*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #FAFAFA;
}
.large-text{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
}
.custom-btn{
    background-color: #f18b46;
    color: white;
    border-radius: 5px;
}
.custom-color{
    color: #8a47f6;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;   
}
::-webkit-scrollbar-thumb{
    background-color: #f33445;
}